<p>bindings works!</p>

<h3>My name is {{username}}. My Experience is {{expereince}}. I live in {{city}} city</h3>

<h3>{{getGreeting()}}</h3><br><br><br>

<img [src]="pqr" height="300px" width="300px"><br><br>

<button (click)="onClick()"> Increment Counter</button>
<button (click)="onReset()">Reset Counter</button><br><br>

<label>Enter Username</label>
<input type="text" id="name" [(ngModel)]="user"><br>
<h2>{{user}}</h2>
<label>Enter Age</label>
<input type="number" id="age" [(ngModel)]="age">
<h2>{{age}}</h2>
