<p>inbuiltpipes works!</p>

<h3>Original String:   {{message}}</h3>

<h3>Uppercase String:   {{message|uppercase}}</h3>

<h3>Lowercase String:   {{message|lowercase}}</h3>

<h3>USD Currency Format :{{amount|currency:'USD'}}</h3>

<h3>EURO Currency Format :{{amount|currency:'EUR'}}</h3>

<h3>Date Format :{{date|date:'fullDate'}}</h3>

<h3>Decimal Format :{{amount|number:'1.2-2'}}</h3>

<h3>Percentage FOrmat :{{percentageValue| percent:'1.0-0'}}</h3>

<h3>Original String :"Angular Pipes"</h3>

<h3>Reverse String is : {{'Angular Pipes'| reverse}}</h3>

<h3>Original String is :"Welcome TO IT Vedant. Welcome TO Angular Pipe Lecture"</h3>

<h3>Truncate String is :{{'Welcome TO IT Vedant. Welcome TO Angular Pipe Lecture'|truncate}}</h3>

<h3>Truncate String is :{{'Welcome TO IT Vedant. Welcome TO Angular Pipe Lecture'|truncate:10}}</h3>

