<!-- <h1>Hello World!!!!!!</h1>

<h2>Welcome</h2>

<app-basic></app-basic> -->

<!-- <app-datatypes></app-datatypes> -->

<!-- <app-structuraldirective></app-structuraldirective> -->

<!-- <app-bindings></app-bindings> -->

<!-- <app-parentinputdecorator></app-parentinputdecorator> -->

<!-- <app-parentoutputdecorator></app-parentoutputdecorator> -->

<!-- <app-inbuiltpipes></app-inbuiltpipes> -->

<!-- <app-templateform></app-templateform> -->

<!-- <app-reactiveform></app-reactiveform> -->

<!-- <app-service-exaample></app-service-exaample> -->

<!-- <app-gethttprequest></app-gethttprequest> -->

<!-- <app-crud></app-crud> -->

<!-- <app-signal></app-signal> -->

<app-basicrouting></app-basicrouting>


<!-- <nav>
  <a routerLink="/">Home</a>&nbsp;&nbsp;&nbsp;
  <a routerLink="/bindings">Bindings</a>&nbsp;&nbsp;&nbsp;
  <a routerLink="/datatypes">Switch Example</a>&nbsp;&nbsp;&nbsp;
  <a routerLink="/pipes">Pipes</a>
</nav> -->

<div class="container">
  <router-outlet></router-outlet> <!-- This loads the main components including InbuiltpipesComponent -->
</div>
